@import "./helpers/reset.scss";
@import "./helpers/colors.scss";
@import "./helpers/fonts.scss";
// HOMEPAGE
@import "./pages/home.scss";
// ABOUT
@import "./pages/about-page.scss";
// SERVICES
@import "./pages/services.scss";
// DEVELOPMENT
@import "./pages/development.scss";
// DESIGN
@import "./pages/design.scss";
// ARTICLES
@import "./pages/article-detail.scss";


// MAIN LAYOUT
html, .wrapper {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    .menu {
        @extend html;
        overflow: visible;
    }
}

// NAVBAR

.navbar {
    background-color: $green;
    width: 100vw;
    top:0;
    margin: 0;
    height: 80px !important;
    padding: 0;
    
    .navbar-brand h1 {
        font-size: rem(24);
        padding-left: 15px;
    }
    .nav-link {
        @extend %navfont;
        @extend .invert;
        margin: 0;
        padding-right: 15px;

        @media screen and (min-width: 992px){
            margin: 0px 30px;
        }

        &.active,
        &:active, 
        &:hover  {
        font-weight: $bold;
        }
    }

    button {
        &:before, 
        &:after {
            border: none;
        }

        &:hover {
            animation: none;
        }
    }

    .navbar-toggler {
        border: none;
        padding: 0 15px 0 0;

        &:focus {
            outline: none;
        }

        .navbar-toggler-icon{
            background: none;
            width: $xxs/2;

            &:after, 
            &:before, 
            &div {
                background-color: #fff;
                content: '';
                display: block;
                height: 5px;
                margin: 7px 0;
                transition: all .2s ease-in-out;
            }

            &.clicked:before {
                transform: translateY(6px) rotate(135deg);
            }
              
            &.clicked:after {
                transform: translateY(-6px) rotate(-135deg);
            }
              
            &.clicked div {
                transform: scale(0);
            }
        }
    }

    @media screen and (max-width: 992px){
        .collapse {
            z-index: -1;
            position: absolute;
            right: 0;
            top: 0px;
            height: 0px;
            background: $green; 
            padding: 30px;
            margin:0;
            text-align: right;
            transition: height .2s;

            .navbar-nav {
                transform: translateY(70px);
            }
        }

        .collapsing {
            @extend .collapse;
            height: 0!important;
        }

        .show {
            @extend .collapse;
            height: 100vh;
        }
    }
}

.nav-item:last-child {
    .nav-link {
        margin-right: 15px;

        @media screen and (max-width: 960px) {
            margin-right: 0;
        }

        a:active {
            font-weight: $bold;
        }
    }    
}



.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}


// FONT RELATED

.title {
    margin: $small 0 $xsmall 0;

    .sub-title {
        margin-top: 1rem;
    }

    @media screen and (max-width: 720px){
        margin: $small 0 $xsmall/2 0;
    }
}

.blackbox {
    background-color: $darkgrey;
    border: 5px solid white;
    height: 60px;
    padding: 0 15px;
}


// BUTTON STYLING

$border-width: 1px;
$t_dur: .1s;
$a_dur: 1s;

button {
    position: relative;
    background: none;
    padding: 12px;
    border: 1px solid $beige;
    user-select: none;

    &:before, &:after {
        content: '';
        width: 0%;
        height: 0%;
        position: absolute;
        visibility: hidden;
        z-index: -10;
    }

    &:before {
        border-top: $border-width solid $darkgrey;
        border-right: $border-width solid $darkgrey;
        transition: width $t_dur ease $t_dur * 3, height $t_dur ease $t_dur * 2, visibility 0s $t_dur * 4;
        top: 0;
        left: 0;
        z-index: -10;
    }
    
    &:after {
        border-left: $border-width solid $darkgrey;
        border-bottom: $border-width solid $darkgrey;
        bottom: 0;
        right: 0;
        z-index: -10;
        transition: width $t_dur ease $t_dur, height $t_dur ease, visibility 0s $t_dur * 2;
    }
    
    &:hover {
        animation: pulse $a_dur ease-out $t_dur * 4;
        color: $green;
        
        &:before, &:after {
            width: 100%;
            height: 100%;
            visibility: visible;
            z-index: -10;
        }
        
        &:before {
            transition: width $t_dur ease, height $t_dur ease $t_dur;
            z-index: -10;
        }
        
        &:after {
            transition: width $t_dur ease $t_dur * 2, height $t_dur ease $t_dur * 3, visibility 0s $t_dur * 2;
            z-index: -10;
        }		
    }
}

// CONTACT BANNER

.contact {
    padding-top: 20px;
    position: fixed;
    bottom: -90px;
    background: $beige;
    width: 100vw;
    filter: drop-shadow(0px 5px 15px lighten($darkgrey, 25%));
    transition: bottom .5s ease;

    .imgcontent{
        display: block;
        width: 100%;
    }

    img {
        display: none;
    }

    h3 {
        text-align: center;
        margin-bottom: 15px;
    }

    ul {
        list-style: none;
        text-align: center;

            a {
                &:hover {
                    text-decoration: underline;
                }
            }
    } 
    
    &:hover {
        bottom: 0;
    }


    // MEDIUM SIZE AND UP
    @media screen and (min-width: 720px) {
        padding-top: 0;
        background: none;
        z-index:10;
        height: 130px;
        width: 245px;
        right: -203px;
        top: 40vh;
        filter: drop-shadow(0px 5px 15px lighten($darkgrey, 50%));
        transition: right .5s ease;
    
        .imgwrapper{
            position: relative;
    
            img {
                display: block;
                z-index: 2;
            }
    
            .imgcontent {
                position: absolute;
                display: flex;
                z-index: 3;
                height: 90%;
                max-width: 95%;
                border-top: 1px solid $darkgrey;
                border-bottom: 1px solid $darkgrey;
    
                &::before {
                    content: '';
                    position: absolute;
                    left: 30px;
                    width: 1px;
                    height: 100%;
                    background: $darkgrey;
                }
    
                h3 {
                    transform: rotate(90deg) translateY(-15px);
                    margin-bottom: 0px;
                    }
                }

                ul {
                    display: block;
                    margin: 0;

                    li {
                        margin: 0;
                    }
                }

                .text {
                    font-size: smaller;
                    margin-right: 20px;
                }
            }
    
        &:hover{
            right:0;
        }
    }   
}

// FILTER

.filter {
    position: relative;
        
    .horizontal-line {
        height: 1px;
        width: 100%;
        position: absolute;
        top:50%;
        background: $darkgrey;
        z-index: -1;
    }

    @media screen and (max-width: 720px) {
        .horizontal-line {
            display: none;
        }

        .buttons {
            display:flex;
            justify-content: space-around;
            flex-wrap: wrap;

            :nth-child(4) {
                display:block;
            }

            .button {
                width: 30vw;
                padding: 12px 0;
                margin: 10px 0;
            }
        }
    }

    button {
        position: relative;
        background: white;
        padding: 12px;
        border: 1px solid $darkgrey;
        user-select: none;
        color: $darkgrey;
        margin: 0 8px;
        cursor: pointer;

        &:focus, &:active, &.active {
            outline: none;
            color: $green;
            font-weight: $bold;
            border-color: $darkgrey;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        &:first-child {
            margin: 0 8px 0 0;
        }

        &:last-child {
            margin: 0 0 0 8px;
        }
    }
} 

.linkbox {
    transition: all 0.2s ease-in-out;

    .arrow {
        display:inline-block;
        cursor:pointer;

        &::before{
            content:'';
            height:1px;
            width:120px;
            float:left;
            background-color:$darkgrey;
            display:block;
            position:relative;
            top:4px;
            transition:0.2s ease-in-out;
        }
    
        &::after{
            content:'';
            float:left;
            border-left:5px solid $darkgrey;
            border-right:5px solid transparent;
            border-top:5px solid transparent;
            border-bottom:5px solid transparent;
        }
    }

    &:hover > .arrow::before {
        width: 40px;
    }
}

.footer {

    display: none;

    @media screen and (min-width:720px){
        display: block;
        bottom: 0;
        width: 100vw;
        
        div {
            height: $xxs;
            background: $green;
            position: relative;
            text-align: center;

            .bulb {
                background: url(../footer-bulb-instagram.png) center center no-repeat;
                background-size: contain;
                position: absolute;
                width: 100vw;
                top: -40px;  
            }

            a {
                position: relative;

                .footer-logo{
                    position: absolute;
                    top:10px;
                    left: -21px;
                    height: 42px;
                    transform: rotate(0deg);
                    transition: transform .5s;

                    &:hover {
                        transform: rotate(360deg);
                    }
                }
            }

            p {
                padding-top: 20px;
                font-weight: $normal;
                font-size: 12px;
            }
        }
    } 
}