* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #1D1D1B;
}

.main1 {
  font-size: 3.75rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 0;
}

.main2, .image .content-wrap .content-body h2 {
  font-size: 2.25rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 0;
}

.special {
  font-family: "Special Elite", cursive;
  font-size: 1.25rem;
  text-transform: lowercase;
  letter-spacing: 0.1em;
  margin: 0;
}

.org, .main-content-services h3, .design .item .item-container a, .navbar .nav-link {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  margin-bottom: 0;
}

.invert, .org, .navbar .nav-link {
  color: white;
}

.text {
  font-size: 0.9375rem;
  line-height: 1.625rem;
}

.image a {
  -webkit-transition: font-size .5s;
  transition: font-size .5s;
}

.image a:hover {
  font-size: 1.3125rem;
}

a {
  color: #1D1D1B;
}

a:hover {
  color: #1D1D1B;
  text-decoration: none;
}

.button {
  font-size: 1rem;
}

.org {
  padding: 10px;
  background: #1D1D1B;
  text-align: center;
  width: 30%;
  border: 5px solid #6F7762;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #1D1D1B;
}

.main1 {
  font-size: 3.75rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 0;
}

.main2, .image .content-wrap .content-body h2 {
  font-size: 2.25rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 0;
}

.special {
  font-family: "Special Elite", cursive;
  font-size: 1.25rem;
  text-transform: lowercase;
  letter-spacing: 0.1em;
  margin: 0;
}

.org, .main-content-services h3, .design .item .item-container a, .navbar .nav-link {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  margin-bottom: 0;
}

.invert, .org, .navbar .nav-link {
  color: white;
}

.text {
  font-size: 0.9375rem;
  line-height: 1.625rem;
}

.image a {
  -webkit-transition: font-size .5s;
  transition: font-size .5s;
}

.image a:hover {
  font-size: 1.3125rem;
}

a {
  color: #1D1D1B;
}

a:hover {
  color: #1D1D1B;
  text-decoration: none;
}

.button {
  font-size: 1rem;
}

.org {
  padding: 10px;
  background: #1D1D1B;
  text-align: center;
  width: 30%;
  border: 5px solid #6F7762;
}

.home {
  overflow: hidden;
}

.image {
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.image .content-wrap {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.image .content-wrap .content-body {
  width: 25%;
  position: absolute;
  top: 40%;
  text-align: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.image .content-wrap img {
  position: absolute;
  height: 100vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
}

.image.bottom {
  background: white;
  z-index: 1;
  left: -7px;
}

.image.bottom .content-body {
  right: 5%;
}

.image.top {
  background: white;
  z-index: 2;
  width: 50%;
}

.image.top .content-body {
  left: 5%;
}

.handle {
  position: absolute;
  height: 100%;
  display: block;
  background: white;
  width: 2px;
  top: 0;
  left: 50%;
  z-index: 3;
  -webkit-transform-origin: top;
          transform-origin: top;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #1D1D1B;
}

.main1 {
  font-size: 3.75rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 0;
}

.main2, .image .content-wrap .content-body h2 {
  font-size: 2.25rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 0;
}

.special {
  font-family: "Special Elite", cursive;
  font-size: 1.25rem;
  text-transform: lowercase;
  letter-spacing: 0.1em;
  margin: 0;
}

.org, .main-content-services h3, .design .item .item-container a, .navbar .nav-link {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  margin-bottom: 0;
}

.invert, .org, .navbar .nav-link {
  color: white;
}

.text {
  font-size: 0.9375rem;
  line-height: 1.625rem;
}

.image a {
  -webkit-transition: font-size .5s;
  transition: font-size .5s;
}

.image a:hover {
  font-size: 1.3125rem;
}

a {
  color: #1D1D1B;
}

a:hover {
  color: #1D1D1B;
  text-decoration: none;
}

.button {
  font-size: 1rem;
}

.org {
  padding: 10px;
  background: #1D1D1B;
  text-align: center;
  width: 30%;
  border: 5px solid #6F7762;
}

.intro, .banner .bannercontent, .instagram, .main-content-services, .development, .design, .article-content {
  max-width: 1140px;
  margin: 0 auto;
}

.main-content, .instagram .instatext, .development .item, .design .item, .article-content .article-intro .text-intro {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: -webkit-transform 1s 0.25s ease;
  transition: -webkit-transform 1s 0.25s ease;
  transition: transform 1s 0.25s ease;
  transition: transform 1s 0.25s ease, -webkit-transform 1s 0.25s ease;
}

.is-visible.main-content, .instagram .is-visible.instatext, .development .is-visible.item, .design .is-visible.item, .article-content .article-intro .is-visible.text-intro {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.wrapper {
  position: relative;
  height: 100vh;
}

.colorrect {
  position: absolute;
  background: #6F7762;
  width: 100vw;
  height: 30%;
  z-index: -1;
}

.intro {
  position: relative;
  margin-bottom: 75px !important;
}

.intro .row {
  position: relative;
}

.intro .row .headertext {
  position: absolute;
  z-index: 2;
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
  bottom: -90px;
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
  -webkit-transition: -webkit-transform 0.5s 0.25s ease;
  transition: -webkit-transform 0.5s 0.25s ease;
  transition: transform 0.5s 0.25s ease;
  transition: transform 0.5s 0.25s ease, -webkit-transform 0.5s 0.25s ease;
}

.intro .row .headertext.is-visible {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.headerimage {
  height: 375px;
  background: url("../../ElisePhotoCV.jpg") center center no-repeat;
  background-size: cover;
  margin-top: 40px;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: -webkit-transform 0.5s 0.25s ease;
  transition: -webkit-transform 0.5s 0.25s ease;
  transition: transform 0.5s 0.25s ease;
  transition: transform 0.5s 0.25s ease, -webkit-transform 0.5s 0.25s ease;
}

.headerimage.is-visible {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.main-content {
  margin-top: 180px;
}

.main-content:first-child .textbox {
  border-left: 1px solid #1D1D1B;
}

.main-content:first-child .textbox p {
  padding-left: 25px;
}

.banner {
  position: relative;
  background: #E2CBB0;
}

.banner .bannercontent {
  position: relative;
  height: 375px;
}

.banner .bannercontent .quote {
  z-index: 1;
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
  -webkit-transition: -webkit-transform 1s 0.25s ease;
  transition: -webkit-transform 1s 0.25s ease;
  transition: transform 1s 0.25s ease;
  transition: transform 1s 0.25s ease, -webkit-transform 1s 0.25s ease;
}

.banner .bannercontent .quote.is-visible {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.banner .bannercontent .quote h2 {
  margin-bottom: 10px;
}

.banner .bannercontent .quotemarks {
  position: absolute;
  z-index: 0;
  -webkit-transform: translate(-600px, 10px);
          transform: translate(-600px, 10px);
  -webkit-transition: -webkit-transform 1s 0.25s ease;
  transition: -webkit-transform 1s 0.25s ease;
  transition: transform 1s 0.25s ease;
  transition: transform 1s 0.25s ease, -webkit-transform 1s 0.25s ease;
}

.banner .bannercontent .quotemarks.is-visible {
  -webkit-transform: translate(96px, 10px);
          transform: translate(96px, 10px);
}

.banner .bannercontent .linkbox {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.banner .bannercontent .linkbox .arrow {
  display: inline-block;
  cursor: pointer;
}

.banner .bannercontent .linkbox .arrow::before {
  content: '';
  height: 1px;
  width: 120px;
  float: left;
  background-color: #1D1D1B;
  display: block;
  position: relative;
  top: 4px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.banner .bannercontent .linkbox .arrow::after {
  content: '';
  float: left;
  border-left: 5px solid #1D1D1B;
  border-right: 5px solid transparent;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.banner .bannercontent .linkbox:hover > .arrow::before {
  width: 40px;
}

.instagram .mockup {
  width: 100%;
}

.instagram .mockup .imgwrapper {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
  -webkit-transition: -webkit-transform 1s 0.25s ease;
  transition: -webkit-transform 1s 0.25s ease;
  transition: transform 1s 0.25s ease;
  transition: transform 1s 0.25s ease, -webkit-transform 1s 0.25s ease;
}

.instagram .mockup .imgwrapper.is-visible {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.instagram .mockup .imgwrapper img {
  position: absolute;
  height: 160%;
  margin: 0 -35%;
  top: 25px;
  -webkit-filter: drop-shadow(-10px 10px 10px #5f5f58) hue-rotate(25deg);
          filter: drop-shadow(-10px 10px 10px #5f5f58) hue-rotate(25deg);
}

.instagram button {
  margin-bottom: 160px;
}

.instagram .instatext {
  margin-top: 100px;
}

.instagram .instatext h2 {
  margin-bottom: 10px;
}

.instagram .instatext p {
  margin-top: 50px;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #1D1D1B;
}

.main1 {
  font-size: 3.75rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 0;
}

.main2, .image .content-wrap .content-body h2 {
  font-size: 2.25rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 0;
}

.special {
  font-family: "Special Elite", cursive;
  font-size: 1.25rem;
  text-transform: lowercase;
  letter-spacing: 0.1em;
  margin: 0;
}

.org, .main-content-services h3, .design .item .item-container a, .navbar .nav-link {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  margin-bottom: 0;
}

.invert, .org, .navbar .nav-link {
  color: white;
}

.text {
  font-size: 0.9375rem;
  line-height: 1.625rem;
}

.image a {
  -webkit-transition: font-size .5s;
  transition: font-size .5s;
}

.image a:hover {
  font-size: 1.3125rem;
}

a {
  color: #1D1D1B;
}

a:hover {
  color: #1D1D1B;
  text-decoration: none;
}

.button {
  font-size: 1rem;
}

.org {
  padding: 10px;
  background: #1D1D1B;
  text-align: center;
  width: 30%;
  border: 5px solid #6F7762;
}

.intro, .banner .bannercontent, .instagram, .main-content-services, .development, .design, .article-content {
  max-width: 1140px;
  margin: 0 auto;
}

.main-content, .instagram .instatext, .development .item, .design .item, .article-content .article-intro .text-intro {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: -webkit-transform 1s 0.25s ease;
  transition: -webkit-transform 1s 0.25s ease;
  transition: transform 1s 0.25s ease;
  transition: transform 1s 0.25s ease, -webkit-transform 1s 0.25s ease;
}

.is-visible.main-content, .instagram .is-visible.instatext, .development .is-visible.item, .design .is-visible.item, .article-content .article-intro .is-visible.text-intro {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.wrapper {
  position: relative;
}

.main-content-services {
  margin-bottom: 80px !important;
}

.main-content-services .row > * {
  padding: 10% 5%;
  height: 100%;
  border-bottom: 1px solid #1D1D1B;
}

.main-content-services img {
  margin-bottom: 1.5rem;
}

.main-content-services h3 {
  margin-bottom: 1rem !important;
}

.main-content-services strong {
  font-weight: 600;
  color: #6F7762;
}

@media screen and (min-width: 720px) {
  .main-content-services .row > * {
    padding: 5% 5% 0 5%;
    height: 400px;
    border-bottom: none;
  }
  .main-content-services .logos, .main-content-services .branding {
    padding: 0 5% 5% 5%;
    border-bottom: 1px solid #1D1D1B;
  }
  .main-content-services .illustratie, .main-content-services .printmedia {
    padding: 5%;
    border-bottom: 1px solid #1D1D1B;
  }
}

@media screen and (min-width: 960px) {
  .main-content-services .row > * {
    padding: 5% 5% 0 5%;
    height: 400px;
    border-bottom: none;
  }
  .main-content-services .logos, .main-content-services .branding, .main-content-services .illustratie {
    padding: 0 5% 5% 5%;
    border-bottom: 1px solid #1D1D1B;
  }
  .main-content-services .branding, .main-content-services .webdesign {
    border-left: 1px solid #1D1D1B;
    border-right: 1px solid #1D1D1B;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #1D1D1B;
}

.main1 {
  font-size: 3.75rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 0;
}

.main2, .image .content-wrap .content-body h2 {
  font-size: 2.25rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 0;
}

.special {
  font-family: "Special Elite", cursive;
  font-size: 1.25rem;
  text-transform: lowercase;
  letter-spacing: 0.1em;
  margin: 0;
}

.org, .main-content-services h3, .design .item .item-container a, .navbar .nav-link {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  margin-bottom: 0;
}

.invert, .org, .navbar .nav-link {
  color: white;
}

.text {
  font-size: 0.9375rem;
  line-height: 1.625rem;
}

.image a {
  -webkit-transition: font-size .5s;
  transition: font-size .5s;
}

.image a:hover {
  font-size: 1.3125rem;
}

a {
  color: #1D1D1B;
}

a:hover {
  color: #1D1D1B;
  text-decoration: none;
}

.button {
  font-size: 1rem;
}

.org {
  padding: 10px;
  background: #1D1D1B;
  text-align: center;
  width: 30%;
  border: 5px solid #6F7762;
}

.intro, .banner .bannercontent, .instagram, .main-content-services, .development, .design, .article-content {
  max-width: 1140px;
  margin: 0 auto;
}

.main-content, .instagram .instatext, .development .item, .design .item, .article-content .article-intro .text-intro {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: -webkit-transform 1s 0.25s ease;
  transition: -webkit-transform 1s 0.25s ease;
  transition: transform 1s 0.25s ease;
  transition: transform 1s 0.25s ease, -webkit-transform 1s 0.25s ease;
}

.is-visible.main-content, .instagram .is-visible.instatext, .development .is-visible.item, .design .is-visible.item, .article-content .article-intro .is-visible.text-intro {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.development .item {
  padding: 50px;
  margin-top: 160px;
  position: relative;
  max-height: 100%;
  text-align: center;
}

.development .item h4 {
  position: relative;
  padding-bottom: 40px;
  border-bottom: 1px solid #1D1D1B;
}

.development .item .text {
  margin: 40px 0;
}

.development .item .portfolio-image {
  background-size: cover !important;
  top: -50px;
  position: absolute;
  z-index: 1;
}

.development .item .portfolio-image#kattenhotel {
  background: url(../../thumbs/kattenhotel-voorbeeld.jpg) bottom center no-repeat;
}

.development .item .portfolio-image#restaurant {
  background: url(../../thumbs/mario&luigi-voorbeeld.jpg) top center no-repeat;
}

.development .item .portfolio-image.left {
  left: 50px;
  right: auto;
}

.development .item .portfolio-image.right {
  left: auto;
  right: 50px;
}

.development .item .portfolio-text {
  background: white;
  padding: 50px;
  position: relative;
  z-index: 2;
}

.development .item .portfolio-text .org {
  position: absolute;
  text-align: center;
  top: -25px;
  left: 35%;
}

.development .item.front-end {
  background: #6F7762;
}

.development .item.back-end {
  background: #E2CBB0;
}

.development .item.back-end .org {
  border-color: #E2CBB0;
}

.backend-container {
  margin-bottom: 80px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #1D1D1B;
}

.main1 {
  font-size: 3.75rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 0;
}

.main2, .image .content-wrap .content-body h2 {
  font-size: 2.25rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 0;
}

.special {
  font-family: "Special Elite", cursive;
  font-size: 1.25rem;
  text-transform: lowercase;
  letter-spacing: 0.1em;
  margin: 0;
}

.org, .main-content-services h3, .design .item .item-container a, .navbar .nav-link {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  margin-bottom: 0;
}

.invert, .org, .navbar .nav-link {
  color: white;
}

.text {
  font-size: 0.9375rem;
  line-height: 1.625rem;
}

.image a {
  -webkit-transition: font-size .5s;
  transition: font-size .5s;
}

.image a:hover {
  font-size: 1.3125rem;
}

a {
  color: #1D1D1B;
}

a:hover {
  color: #1D1D1B;
  text-decoration: none;
}

.button {
  font-size: 1rem;
}

.org {
  padding: 10px;
  background: #1D1D1B;
  text-align: center;
  width: 30%;
  border: 5px solid #6F7762;
}

.intro, .banner .bannercontent, .instagram, .main-content-services, .development, .design, .article-content {
  max-width: 1140px;
  margin: 0 auto;
}

.main-content, .instagram .instatext, .development .item, .design .item, .article-content .article-intro .text-intro {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: -webkit-transform 1s 0.25s ease;
  transition: -webkit-transform 1s 0.25s ease;
  transition: transform 1s 0.25s ease;
  transition: transform 1s 0.25s ease, -webkit-transform 1s 0.25s ease;
}

.is-visible.main-content, .instagram .is-visible.instatext, .development .is-visible.item, .design .is-visible.item, .article-content .article-intro .is-visible.text-intro {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.design {
  margin-bottom: 160px;
}

.design .item {
  padding: 20px;
}

.design .item .item-container {
  background: #eceeea;
  height: 360px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.design .item .item-container img {
  position: absolute;
  left: 50%;
  margin-left: -180px;
  z-index: 0;
}

.design .item .item-container a {
  height: 100%;
}

.design .item .item-container a .item-title {
  background: rgba(255, 255, 255, 0.9);
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  height: 100%;
  z-index: 1;
}

.design .item .item-container a h3 {
  font-size: 1rem;
  font-weight: 600;
}

.design .item .item-container a p {
  font-size: 0.75rem;
}

@-webkit-keyframes hoverbox {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hoverbox {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.design .item .item-container:hover .item-title {
  -webkit-animation: hoverbox .5s forwards;
          animation: hoverbox .5s forwards;
}

@media screen and (max-width: 720px) {
  .design .item .item-container {
    width: 360px;
    margin: 0 auto;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #1D1D1B;
}

.main1 {
  font-size: 3.75rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 0;
}

.main2, .image .content-wrap .content-body h2 {
  font-size: 2.25rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 0;
}

.special {
  font-family: "Special Elite", cursive;
  font-size: 1.25rem;
  text-transform: lowercase;
  letter-spacing: 0.1em;
  margin: 0;
}

.org, .main-content-services h3, .design .item .item-container a, .navbar .nav-link {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  margin-bottom: 0;
}

.invert, .org, .navbar .nav-link {
  color: white;
}

.text {
  font-size: 0.9375rem;
  line-height: 1.625rem;
}

.image a {
  -webkit-transition: font-size .5s;
  transition: font-size .5s;
}

.image a:hover {
  font-size: 1.3125rem;
}

a {
  color: #1D1D1B;
}

a:hover {
  color: #1D1D1B;
  text-decoration: none;
}

.button {
  font-size: 1rem;
}

.org {
  padding: 10px;
  background: #1D1D1B;
  text-align: center;
  width: 30%;
  border: 5px solid #6F7762;
}

.intro, .banner .bannercontent, .instagram, .main-content-services, .development, .design, .article-content {
  max-width: 1140px;
  margin: 0 auto;
}

.main-content, .instagram .instatext, .development .item, .design .item, .article-content .article-intro .text-intro {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: -webkit-transform 1s 0.25s ease;
  transition: -webkit-transform 1s 0.25s ease;
  transition: transform 1s 0.25s ease;
  transition: transform 1s 0.25s ease, -webkit-transform 1s 0.25s ease;
}

.is-visible.main-content, .instagram .is-visible.instatext, .development .is-visible.item, .design .is-visible.item, .article-content .article-intro .is-visible.text-intro {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.article-start {
  position: relative;
  height: 100vh;
}

.article-start .colorrect-article {
  position: absolute;
  background: #6F7762;
  width: 100vw;
  z-index: -1;
  height: 0vh;
  -webkit-transition: height 0.5s 0.25s ease;
  transition: height 0.5s 0.25s ease;
}

.article-start .colorrect-article.is-visible {
  height: 70vh;
}

.article-start .colorrect-article .row {
  padding-top: 80px;
  position: relative;
  height: 100%;
}

.article-start .colorrect-article .row .article-title {
  height: 100%;
}

.article-start .colorrect-article .row .article-title h1 {
  margin-bottom: 10px;
}

.article-start .colorrect-article .row .article-title h2 {
  margin-bottom: 50px;
}

.article-start .colorrect-article .row .article-title img {
  position: absolute;
  bottom: -80px;
  height: inherit;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.article-content .article-intro {
  margin-bottom: 80px;
}

.article-content .article-intro .text-intro {
  margin-bottom: 40px;
}

.article-content .article-intro img {
  width: 30%;
}

html, .wrapper, .menu {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}

.navbar {
  width: 100vw;
  height: 80px;
  background-color: #6F7762;
  margin: 0;
  padding: 0px 15px;
}

.navbar .navbar-brand h1 {
  font-size: 1.5rem;
}

.navbar .nav-link {
  margin: 0px 30px;
}

.navbar .nav-link .active, .navbar .nav-link:hover {
  font-weight: 700;
}

.nav-item:last-child .nav-link {
  margin-right: 0px !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.title {
  margin: 90px 0 80px 0;
}

.title .sub-title {
  margin-top: 1rem;
}

.blackbox {
  background-color: #1D1D1B;
  border: 5px solid white;
  height: 60px;
  padding: 0 15px;
}

button {
  position: relative;
  background: none;
  padding: 12px;
  border: 1px solid #E2CBB0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

button:before, button:after {
  content: '';
  width: 0%;
  height: 0%;
  position: absolute;
  visibility: hidden;
  z-index: -10;
}

button:before {
  border-top: 1px solid #1D1D1B;
  border-right: 1px solid #1D1D1B;
  -webkit-transition: width 0.1s ease 0.3s, height 0.1s ease 0.2s, visibility 0s 0.4s;
  transition: width 0.1s ease 0.3s, height 0.1s ease 0.2s, visibility 0s 0.4s;
  top: 0;
  left: 0;
  z-index: -10;
}

button:after {
  border-left: 1px solid #1D1D1B;
  border-bottom: 1px solid #1D1D1B;
  bottom: 0;
  right: 0;
  z-index: -10;
  -webkit-transition: width 0.1s ease 0.1s, height 0.1s ease, visibility 0s 0.2s;
  transition: width 0.1s ease 0.1s, height 0.1s ease, visibility 0s 0.2s;
}

button:hover {
  -webkit-animation: pulse 1s ease-out 0.4s;
          animation: pulse 1s ease-out 0.4s;
  color: #6F7762;
}

button:hover:before, button:hover:after {
  width: 100%;
  height: 100%;
  visibility: visible;
  z-index: -10;
}

button:hover:before {
  -webkit-transition: width 0.1s ease, height 0.1s ease 0.1s;
  transition: width 0.1s ease, height 0.1s ease 0.1s;
  z-index: -10;
}

button:hover:after {
  -webkit-transition: width 0.1s ease 0.2s, height 0.1s ease 0.3s, visibility 0s 0.2s;
  transition: width 0.1s ease 0.2s, height 0.1s ease 0.3s, visibility 0s 0.2s;
  z-index: -10;
}

.contact {
  padding-top: 20px;
  position: fixed;
  bottom: 0;
  background: #E2CBB0;
  width: 100vw;
  -webkit-filter: drop-shadow(0px 5px 15px #5f5f58);
          filter: drop-shadow(0px 5px 15px #5f5f58);
}

.contact .imgcontent {
  width: 100%;
}

.contact img {
  display: none;
}

.contact h3 {
  text-align: center;
}

.contact ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact ul li {
  margin: 0 10px;
}

.contact ul li a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 720px) {
  .contact {
    padding-top: 0;
    background: none;
    z-index: 10;
    height: 130px;
    width: 245px;
    right: -203px;
    top: 40vh;
    -webkit-filter: drop-shadow(0px 5px 15px #9f9f98);
            filter: drop-shadow(0px 5px 15px #9f9f98);
    -webkit-transition: right .5s ease;
    transition: right .5s ease;
  }
  .contact .imgwrapper {
    position: relative;
  }
  .contact .imgwrapper img {
    display: block;
    z-index: 2;
  }
  .contact .imgwrapper .imgcontent {
    position: absolute;
    z-index: 3;
    height: 90%;
    max-width: 95%;
    border-top: 1px solid #1D1D1B;
    border-bottom: 1px solid #1D1D1B;
  }
  .contact .imgwrapper .imgcontent::before {
    content: '';
    position: absolute;
    left: 30px;
    width: 1px;
    height: 100%;
    background: #1D1D1B;
  }
  .contact .imgwrapper .imgcontent h3 {
    -webkit-transform: rotate(90deg) translateY(-15px);
            transform: rotate(90deg) translateY(-15px);
  }
  .contact .imgwrapper ul {
    display: block;
    margin: 0;
  }
  .contact .imgwrapper ul li {
    margin: 0;
  }
  .contact .imgwrapper .text {
    font-size: smaller;
    margin-right: 20px;
  }
  .contact:hover {
    right: 0;
  }
}

.filter {
  position: relative;
}

.filter .horizontal-line {
  height: 1px;
  width: 100%;
  position: absolute;
  top: 50%;
  background: #1D1D1B;
  z-index: -1;
}

.filter button {
  position: relative;
  background: white;
  padding: 12px;
  border: 1px solid #1D1D1B;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #1D1D1B;
  margin: 0 8px;
}

.filter button:focus, .filter button:active {
  outline: none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.filter button:first-child {
  margin: 0 8px 0 0;
}

.filter button:last-child {
  margin: 0 0 0 8px;
}

.filter button.active {
  font-weight: 700;
}

.footer {
  display: none;
}

@media screen and (min-width: 720px) {
  .footer {
    display: block;
    bottom: 0;
    width: 100vw;
  }
  .footer div {
    height: 40px;
    background: #6F7762;
    position: relative;
    text-align: center;
  }
  .footer div .bulb {
    background: url(../footer-bulb-instagram.png) center center no-repeat;
    background-size: contain;
    position: absolute;
    width: 100vw;
    top: -40px;
  }
  .footer div a {
    position: relative;
  }
  .footer div a .footer-logo {
    position: absolute;
    top: 10px;
    left: -21px;
    height: 42px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
  }
  .footer div a .footer-logo:hover {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  .footer div p {
    padding-top: 20px;
    font-weight: 400;
    font-size: 12px;
  }
}
/*# sourceMappingURL=style.css.map */