// GENERAL RESET
* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}

// MAIN COLORS
$green: #6F7762;
$darkgrey:#1D1D1B;
$beige: #E2CBB0;

// MAIN FONTS
$sansserif: "Raleway", sans-serif;
$cursive: "Special Elite", cursive;

$extrabold: 800;
$bold: 700;
$semibold: 600;
$normal: 400;

@function rem($sizeValue: 1.6) {
    @return $sizeValue/16 + rem;
};

body {
    font: {
        family: $sansserif;
        weight: $normal;
    };
    color: $darkgrey;
}

.main1 {
    font-size: rem(60);
    font-weight: $extrabold; 
    text-transform: uppercase;
    margin-bottom: 0;
}

.main2 {
    font-size: rem(42);
    font-weight: $extrabold;
    text-transform: uppercase;
    margin-bottom: 0;
}

.special {
    font-family: $cursive;
    font-size: rem(20);
    text-transform: lowercase;
    letter-spacing: 0.1em;
    margin: 0;
}

%navfont {
    font-size: rem(16);
    text-transform: uppercase;
    letter-spacing: 0.25em;
    margin-bottom: 0;
}

.invert {
    color: white;
}

.invertbox {
    @extend .invert;
    background-color: $darkgrey;
}

// MAIN LAYOUT
html, .wrapper, .menu {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow: hidden;
}

.wrapper {
    position: relative;
    height: 100vh;
}

.navbar {
    width: 100vw;
    height: 80px;
    background-color: $green;
    margin: 0;
    padding: 0px 15px;
    .navbar-brand h1 {
        font-size: rem(24);
    }
    .nav-link {
        @extend %navfont;
        @extend .invert;
        margin: 0px 30px;

        &:hover {
        font-weight: $bold;
        }
    }
}

.nav-item:last-child {
    .nav-link {
        margin-right: 0px !important;
    }      
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}


.image {
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    .content-wrap {
        position: absolute;
        width: 100vw;
        height: 100vh;

        .content-body {
            width: 25%;
            position: absolute;
            top: 40%;
            text-align: center;
            transform: translateY(-50%);
            
            h2 {
                @extend .main2;
            }
        }

        img {
            position: absolute;
            height: 100vh;
            bottom: 12%;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
        }
    }

    &.bottom {
        background: white;
        z-index:1;

        .content-body {
            right: 5%;
        }
    }

    &.top{
        background: white;
        z-index:2;
        width: 50%;

        .content-body {
            left: 5%;
        }
    }
        
}

.handle {
    position: absolute;
    height: 100%;
    display: block;
    background: white;
    width: 2px;
    top:0;
    left: 50%;
    z-index:3;
    transform-origin: top;
}
