* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #1D1D1B;
}

.main1 {
  font-size: 3.75rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 0;
}

.main2, .image .content-wrap .content-body h2 {
  font-size: 2.5rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 0;
}

.special {
  font-family: "Special Elite", cursive;
  font-size: 1.25rem;
  text-transform: lowercase;
  letter-spacing: 0.1em;
  margin: 0;
}

.navbar .nav-link {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  margin-bottom: 0;
}

.invert, .navbar .nav-link {
  color: white;
}

.text {
  font-size: 0.9375rem;
  line-height: 1.625rem;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #1D1D1B;
}

.main1 {
  font-size: 3.75rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 0;
}

.main2, .image .content-wrap .content-body h2 {
  font-size: 2.5rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 0;
}

.special {
  font-family: "Special Elite", cursive;
  font-size: 1.25rem;
  text-transform: lowercase;
  letter-spacing: 0.1em;
  margin: 0;
}

.navbar .nav-link {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  margin-bottom: 0;
}

.invert, .navbar .nav-link {
  color: white;
}

.text {
  font-size: 0.9375rem;
  line-height: 1.625rem;
}

.wrapper {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.image {
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.image a {
  color: #1D1D1B !important;
  -webkit-transition: font-size .5s;
  transition: font-size .5s;
}

.image a:hover {
  text-decoration: none;
  font-size: 1.3125rem;
}

.image .content-wrap {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.image .content-wrap .content-body {
  width: 25%;
  position: absolute;
  top: 40%;
  text-align: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.image .content-wrap img {
  position: absolute;
  height: 100vh;
  bottom: 12%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
}

.image.bottom {
  background: white;
  z-index: 1;
}

.image.bottom .content-body {
  right: 5%;
}

.image.top {
  background: white;
  z-index: 2;
  width: 50%;
}

.image.top .content-body {
  left: 5%;
}

.handle {
  position: absolute;
  height: 100%;
  display: block;
  background: white;
  width: 2px;
  top: 0;
  left: 50%;
  z-index: 3;
  -webkit-transform-origin: top;
          transform-origin: top;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #1D1D1B;
}

.main1 {
  font-size: 3.75rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 0;
}

.main2, .image .content-wrap .content-body h2 {
  font-size: 2.5rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 0;
}

.special {
  font-family: "Special Elite", cursive;
  font-size: 1.25rem;
  text-transform: lowercase;
  letter-spacing: 0.1em;
  margin: 0;
}

.navbar .nav-link {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  margin-bottom: 0;
}

.invert, .navbar .nav-link {
  color: white;
}

.text {
  font-size: 0.9375rem;
  line-height: 1.625rem;
}

.wrapper {
  position: relative;
  overflow-y: visible;
}

.colorrect {
  position: absolute;
  background: #6F7762;
  width: 100vw;
  height: 30%;
  z-index: -1;
}

.intro {
  position: relative;
}

.headerimage {
  margin-top: 40px;
}

.title {
  position: absolute;
  width: 500px;
  z-index: 2;
}

html, .wrapper, .menu {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}

.navbar {
  width: 100vw;
  height: 80px;
  background-color: #6F7762;
  margin: 0;
  padding: 0px 15px;
}

.navbar .navbar-brand h1 {
  font-size: 1.5rem;
}

.navbar .nav-link {
  margin: 0px 30px;
}

.navbar .nav-link .active, .navbar .nav-link:hover {
  font-weight: 700;
}

.nav-item:last-child .nav-link {
  margin-right: 0px !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.blackbox {
  background-color: #1D1D1B;
  border: 10px solid white;
  height: 70px;
  padding: 0 15px;
}
/*# sourceMappingURL=style.css.map */