@import "./colors.scss";

// MAIN FONTS
$sansserif: "Raleway", sans-serif;
$cursive: "Special Elite", cursive;

$extrabold: 800;
$bold: 700;
$semibold: 600;
$normal: 400;

@function rem($sizeValue: 1.6) {
    @return $sizeValue/16 + rem;
};

body {
    font: {
        family: $sansserif;
        weight: $normal;
    };
    color: $darkgrey;
}

.main1 {
    font-size: rem(60);
    font-weight: $extrabold; 
    text-transform: uppercase;
    margin-bottom: 0;
}

.main2 {
    font-size: rem(40);
    font-weight: $extrabold;
    text-transform: uppercase;
    margin-bottom: 0;
}

.special {
    font-family: $cursive;
    font-size: rem(20);
    text-transform: lowercase;
    letter-spacing: 0.1em;
    margin: 0;
}

%navfont {
    font-size: rem(16);
    text-transform: uppercase;
    letter-spacing: 0.25em;
    margin-bottom: 0;
}

.invert {
    color: white;
}

.text {
 font-size: rem(15);
 line-height: rem(26);
}

%text-animation-grow {
    transition: font-size .5s;
    &:hover {
        font-size: rem(21);
    }
}

a {
    color: $darkgrey;
    &:hover {
        color: $darkgrey;
        text-decoration: none;
    } 
}

.button {
    font-size: rem(16);
}