%boxedcontent {
    max-width: 1140px;
    margin: auto;
}

$height-medium: 375px;

@mixin scroll-animation($duration,$valbf,$valaft,$transit:opacity) {
    #{$transit}:$valbf;
    transition: #{$transit} $duration .25s ease-out;

    &.is-visible {
        #{$transit}:$valaft;
    }    
}
