@import "../helpers/colors.scss";
@import "../helpers/fonts.scss";
@import "../helpers/sizing.scss";

.wrapper {
    position: relative;
    overflow-y: visible;
}

.colorrect {
    position: absolute;
    background:$green;
    width: 100vw;
    height: 30%;
    z-index: -1;
}

.intro {
    @extend %boxedcontent;
    position: relative;
    margin-bottom: 75px !important;

    .row {
        position: relative;
        
        .title {
            position: absolute;
            z-index:2;
            transform: translateX(-5px);
            bottom:-90px;
            @include scroll-animation(.5s,translateX(-200px),translateX(0),transform);
        }  
    }
}

.headerimage {
    height: $height-medium;
    background: url("../../ElisePhotoCV.jpg") center center no-repeat;
    background-size: cover;
    margin-top: 40px;
    @include scroll-animation(.5s,translateY(-20px),translateY(0),transform);
}



.main-content {
    margin-top: 180px;
    @extend %text-in;

    &:first-child .textbox {
        border-left: 1px solid $darkgrey;
        
        p {
            padding-left: 25px;
        }

    }
}

.banner {
    position: relative;
    background: $beige;

    .bannercontent {
        @extend %boxedcontent;
        position:relative;
        height: $height-medium;
        

        .quote {
            z-index: 1;
            @include scroll-animation(1s,translateX(150%),translateX(0),transform);
    
            h2 {
                margin-bottom: 10px;
            }
        }
    
        .quotemarks {
            position: absolute;
            z-index: 0;
            @include scroll-animation(1s,translate(-600px,10px),translate(96px,10px),transform);
        }
    
        .linkbox {
            transition: all 0.2s ease-in-out;
    
            .arrow {
                display:inline-block;
                cursor:pointer;
        
                &::before{
                    content:'';
                    height:1px;
                    width:120px;
                    float:left;
                    background-color:$darkgrey;
                    display:block;
                    position:relative;
                    top:4px;
                    transition:0.2s ease-in-out;
                }
            
                &::after{
                    content:'';
                    float:left;
                    border-left:5px solid $darkgrey;
                    border-right:5px solid transparent;
                    border-top:5px solid transparent;
                    border-bottom:5px solid transparent;
                }
            }
    
            &:hover > .arrow::before {
                width: 40px;
            }
        }
    }  
}

.instagram {

    @extend %boxedcontent;

    .mockup {
        width: 100%;

        .imgwrapper {
            height: 100%;
            width: 100%;
            position: relative;
            overflow: hidden;
            @include scroll-animation(1s, translateX(-200px), translateX(0), transform);

            img {
                position: absolute;
                height:  160%;
                margin: 0 -35%;
                top: 25px;
                filter: drop-shadow(-10px 10px 10px lighten($darkgrey, 25%)) hue-rotate(25deg);
            }
        }
    }

    //button config for animation

    $border-width: 1px;
    $t_dur: .1s;
    $a_dur: 1s;

    button {
        position: relative;
        background: none;
        padding: 12px;
        border: 1px solid $beige;
        margin-bottom: 100px;
        user-select: none;

        &:before, &:after {
            content: '';
		    width: 0%;
		    height: 0%;
		    position: absolute;
            visibility: hidden;
            z-index: -10;
        }

        &:before {
            border-top: $border-width solid $darkgrey;
		    border-right: $border-width solid $darkgrey;
		    transition: width $t_dur ease $t_dur * 3, height $t_dur ease $t_dur * 2, visibility 0s $t_dur * 4;
		    top: 0;
            left: 0;
            z-index: -10;
        }
        
        &:after {
            border-left: $border-width solid $darkgrey;
		    border-bottom: $border-width solid $darkgrey;
		    bottom: 0;
            right: 0;
            z-index: -10;
            transition: width $t_dur ease $t_dur, height $t_dur ease, visibility 0s $t_dur * 2;
        }
		
	    &:hover {
            animation: pulse $a_dur ease-out $t_dur * 4;
            color: $green;
            
		    &:before, &:after {
                width: 100%;
			    height: 100%;
                visibility: visible;
                z-index: -10;
            }
			
		    &:before {
                transition: width $t_dur ease, height $t_dur ease $t_dur;
                z-index: -10;
            }
			
		    &:after {
                transition: width $t_dur ease $t_dur * 2, height $t_dur ease $t_dur * 3, visibility 0s $t_dur * 2;
                z-index: -10;
            }		
        }
    }
	
    .instatext {
        margin-top: 100px;
        @extend %text-in;

        h2 {
            margin-bottom: 10px;
        }

        p {
            margin-top: 50px;
        }
    }

    
}