body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #1D1D1B;
}

.main1 {
  font-size: 3.75rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 0;
}

.main2 {
  font-size: 2.25rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 0;
}

.special {
  font-family: "Special Elite", cursive;
  font-size: 1.25rem;
  text-transform: lowercase;
  letter-spacing: 0.1em;
  margin: 0;
}

.invert {
  color: white;
}

.text {
  font-size: 0.9375rem;
  line-height: 1.625rem;
}

a {
  color: #1D1D1B;
}

a:hover {
  color: #1D1D1B;
  text-decoration: none;
}

.button {
  font-size: 1rem;
}

.intro, .banner .bannercontent, .instagram {
  max-width: 1140px;
  margin: auto;
}

.wrapper {
  position: relative;
  overflow-y: visible;
}

.colorrect {
  position: absolute;
  background: #6F7762;
  width: 100vw;
  height: 30%;
  z-index: -1;
}

.intro {
  position: relative;
  margin-bottom: 75px;
}

.intro .row {
  position: relative;
}

.intro .row .title {
  position: absolute;
  z-index: 2;
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
  bottom: -90px;
}

.headerimage {
  height: 375px;
  background: url("../../ElisePhotoCV.jpg") center center no-repeat;
  background-size: cover;
  margin-top: 40px;
}

.main-content {
  margin-top: 180px;
}

.main-content:first-child .textbox {
  border-left: 1px solid #1D1D1B;
}

.main-content:first-child .textbox p {
  padding-left: 25px;
}

.banner {
  position: relative;
  background: #E2CBB0;
}

.banner .bannercontent {
  position: relative;
  height: 375px;
}

.banner .bannercontent .quote {
  z-index: 1;
}

.banner .bannercontent .quote h2 {
  margin-bottom: 10px;
}

.banner .bannercontent .quotemarks {
  position: absolute;
  -webkit-transform: translate(96px, 10px);
          transform: translate(96px, 10px);
  z-index: 0;
}

.banner .bannercontent .linkbox {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.banner .bannercontent .linkbox .arrow {
  display: inline-block;
  cursor: pointer;
}

.banner .bannercontent .linkbox .arrow::before {
  content: '';
  height: 1px;
  width: 120px;
  float: left;
  background-color: #1D1D1B;
  display: block;
  position: relative;
  top: 4px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.banner .bannercontent .linkbox .arrow::after {
  content: '';
  float: left;
  border-left: 5px solid #1D1D1B;
  border-right: 5px solid transparent;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.banner .bannercontent .linkbox:hover > .arrow::before {
  width: 40px;
}

.instagram .mockup {
  width: 100%;
}

.instagram .mockup .imgwrapper {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.instagram .mockup .imgwrapper img {
  position: absolute;
  height: 160%;
  margin: 0 -35%;
  top: 25px;
  -webkit-filter: drop-shadow(-10px 10px 10px #5f5f58) hue-rotate(25deg);
          filter: drop-shadow(-10px 10px 10px #5f5f58) hue-rotate(25deg);
}

.instagram button {
  background: none;
  padding: 12px;
  border: 1px solid #1D1D1B;
  margin-bottom: 100px;
}

.instagram .instatext {
  margin-top: 100px;
}

.instagram .instatext h2 {
  margin-bottom: 10px;
}

.instagram .instatext p {
  margin-top: 50px;
}
/*# sourceMappingURL=about-page.css.map */