@import "../helpers/colors.scss";
@import "../helpers/fonts.scss";

.wrapper {
    position: relative;
    overflow-y: visible;
}

.colorrect {
    position: absolute;
    background:$green;
    width: 100vw;
    height: 30%;
    z-index: -1;
}

.intro {
    position: relative;
}

.headerimage {
    margin-top: 40px;
    background-color: yellow;
}

.title {
    z-index:2;
}

.main-content {
    margin-top: 40px;
}