* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #1D1D1B;
}

.main1 {
  font-size: 3.75rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 0;
}

.main2 {
  font-size: 2.25rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 0;
}

.special {
  font-family: "Special Elite", cursive;
  font-size: 1.25rem;
  text-transform: lowercase;
  letter-spacing: 0.1em;
  margin: 0;
}

.org {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  margin-bottom: 0;
}

.invert, .org {
  color: white;
}

.text {
  font-size: 0.9375rem;
  line-height: 1.625rem;
}

a {
  color: #1D1D1B;
}

a:hover {
  color: #1D1D1B;
  text-decoration: none;
}

.button {
  font-size: 1rem;
}

.org {
  padding: 10px;
  background: #1D1D1B;
  text-align: center;
  width: 30%;
  border: 5px solid #6F7762;
}

.article-content {
  max-width: 1140px;
  margin: 0 auto;
}

.article-content .text-intro {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: -webkit-transform 1s 0.25s ease;
  transition: -webkit-transform 1s 0.25s ease;
  transition: transform 1s 0.25s ease;
  transition: transform 1s 0.25s ease, -webkit-transform 1s 0.25s ease;
}

.article-content .is-visible.text-intro {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.article-start {
  position: relative;
  height: 100vh;
}

.article-start .colorrect-article {
  position: absolute;
  background: #6F7762;
  width: 100vw;
  z-index: -1;
  -webkit-box-shadow: inset 0 -15px 20px -15px #52524c;
          box-shadow: inset 0 -15px 20px -15px #52524c;
  height: 0vh;
  -webkit-transition: height 0.5s 0.25s ease;
  transition: height 0.5s 0.25s ease;
}

.article-start .colorrect-article.is-visible {
  height: 70vh;
}

.article-start .colorrect-article .row {
  padding-top: 80px;
  position: relative;
  height: 100%;
}

.article-start .colorrect-article .row .article-title {
  height: 100%;
}

.article-start .colorrect-article .row .article-title h1 {
  margin-bottom: 10px;
}

.article-start .colorrect-article .row .article-title h2 {
  margin-bottom: 50px;
}

.article-start .colorrect-article .row .article-title img {
  position: absolute;
  bottom: -80px;
  height: inherit;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.article-content .row {
  margin-bottom: 80px;
}

.article-content .text-intro {
  margin-bottom: 40px;
}

.article-content img {
  width: 70%;
}

@media screen and (min-width: 720px) {
  .article-content img {
    width: 30%;
  }
}

.article-content .article-box {
  position: relative;
  opacity: 0;
  -webkit-transition: opacity 1s 0.25s ease;
  transition: opacity 1s 0.25s ease;
}

.article-content .article-box.is-visible {
  opacity: 1;
}

.article-content .article-box img {
  height: 100%;
  width: 100%;
}

.article-content .article-box .box-column {
  position: relative;
}

.article-content .article-box .title {
  position: absolute;
  margin: 0;
}

.article-content .article-box.styling .title {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  right: -65px;
  top: 100px;
}

@media screen and (max-width: 720px) {
  .article-content .article-box.styling .title {
    right: -45px;
  }
}

.article-content .article-box.styling img {
  border-right: 1px solid #1D1D1B;
}

@media screen and (max-width: 960px) {
  .article-content .article-box.case-content {
    margin-bottom: 0;
  }
}

.article-content .article-box.case-content .box-column::before {
  content: "";
  height: 1px;
  background: #1D1D1B;
  width: 50%;
  position: absolute;
  display: block;
  top: 50px;
}

.article-content .article-box.case-content .box-column .title {
  left: -5px;
  top: 20px;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  -webkit-transition: -webkit-transform 0.5s 0.25s ease;
  transition: -webkit-transform 0.5s 0.25s ease;
  transition: transform 0.5s 0.25s ease;
  transition: transform 0.5s 0.25s ease, -webkit-transform 0.5s 0.25s ease;
}

.article-content .article-box.case-content .box-column .title.is-visible {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

@media screen and (max-width: 960px) {
  .article-content .article-box.case-content .box-column.desktop {
    display: none;
  }
}

.article-content .article-box.case-content .box-column.desktop .photos {
  position: absolute;
  z-index: 1;
  top: 50px;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.article-content .article-box.case-content .box-column.desktop .photos .block-photo {
  height: 300px;
  width: 300px;
  border: 5px solid white;
  -webkit-box-shadow: 0 0 15px #9f9f98;
          box-shadow: 0 0 15px #9f9f98;
}

@media screen and (max-width: 720px) {
  .article-content .article-box.case-content .box-column.desktop .photos {
    position: relative;
    top: 0;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.article-content .article-box.case-content .box-column.desktop .article-button {
  position: absolute;
  right: 160px;
  bottom: 160px;
  z-index: 2;
}

@media screen and (min-width: 961px) {
  .article-content .article-box.case-content .box-column.mobile {
    display: none;
  }
}

.article-content .article-box.case-content .box-column.mobile .block-photo {
  height: 50%;
  width: 50%;
  border: 5px solid white;
  -webkit-box-shadow: 0 0 15px #9f9f98;
          box-shadow: 0 0 15px #9f9f98;
  margin-left: 25%;
}

.article-content .article-box.case-content .box-column.mobile .article-button {
  margin-top: 40px;
}

.article-content .article-box.web-video .box-column {
  -webkit-box-shadow: 0 0 15px #9f9f98;
          box-shadow: 0 0 15px #9f9f98;
  height: 75vh;
  overflow-y: scroll;
}

.article-content .article-box.web-video .box-column img {
  height: auto;
}
/*# sourceMappingURL=article-detail.css.map */