@import "../helpers/reset.scss";
@import "../helpers/colors.scss";
@import "../helpers/fonts.scss";
@import "../helpers/sizing.scss";

.article-start {
    position:relative;
    height: 100vh;

    .colorrect-article {
        position: absolute;
        background:$green;
        width: 100vw;
        z-index: -1;
        @include scroll-animation(.5s,0vh,70vh,height);

        .row {
            padding-top: $xsmall;
            position: relative;
            height: 100%;

            .article-title{
                height: 100%;

                h1 {
                    margin-bottom: 10px;
                }
                
                h2 {
                    margin-bottom: 50px;
                }

                img {
                    position: absolute;
                    bottom: -$xsmall;
                    height: inherit;
                    left: 50%;
                    transform: translateX(-50%);
                }
                
            }
        }
    }
}

.article-content {
    @extend %boxedcontent;

    .row {
        margin-bottom: $xsmall;

        .text-intro {
            @extend %text-in;
            margin-bottom: $xxs;
        }

        img {
            width:30%;
        }
    }
}