@import "../helpers/reset.scss";
@import "../helpers/colors.scss";
@import "../helpers/fonts.scss";
@import "../helpers/sizing.scss";

.development {
    @extend %boxedcontent;

    .item {
        @extend %text-in;
        padding: 50px;
        margin-top: $small;
        position:relative;
        max-height: 100%;
        text-align: center;
    
        h4{
            position: relative;
            padding-bottom: $xxs;
            border-bottom: 1px solid $darkgrey;
        }
    
        .text {
            margin: $xxs 0;
        }
    
        .portfolio-image {
            background-size: cover !important;
            top: -50px;
            position: absolute;
            z-index: 1;

            &#kattenhotel{
                background: url(../thumbs/kattenhotel-voorbeeld.jpg) bottom center no-repeat;
            }
            &#restaurant{
                background: url(../thumbs/mario&luigi-voorbeeld.jpg) top center no-repeat;
            }
            &#pokedex {
                background: url(../thumbs/pokedex-voorbeeld.jpg) bottom center no-repeat;
            }
            
    
            &.left{
                left:50px;
                right: auto;
            }
            &.right{
                left:auto;
                right: 50px;
            }
        }
    
        .portfolio-text {
            background: white;
            padding: 50px;
            position: relative;
            z-index: 2;
    
            .org {
                position:absolute;
                text-align:center;
                top: -25px;
                left: 35%;
            }
        }
    
        &.front-end{
            background: $green;
        }
    
        &.back-end {
            background: $beige;
            
            .org {
                border-color: $beige;
            }
        }
    }

    @media screen and (max-width: 720px){
        .item {
            margin-top: $xxs;
        }
    }
};

.backend-container {
    margin-bottom: $xsmall;
}


