@import "../helpers/reset.scss";
@import "../helpers/colors.scss";
@import "../helpers/fonts.scss";
@import "../helpers/sizing.scss";

.development {
    @extend %boxedcontent;
    .filter {
        position: relative;

        .horizontal-line {
            height: 1px;
            width: 100%;
            position: absolute;
            top:50%;
            background: $darkgrey;
            z-index: -1;
        }

        button {
            position: relative;
            background: white;
            padding: 12px;
            border: 1px solid $darkgrey;
            user-select: none;
            color: $darkgrey;
            margin: 0 8px;

            &:focus, &:active {
                outline: none;
                border-color: inherit;
                -webkit-box-shadow: none;
                box-shadow: none;
            }

            &:first-child {
                margin: 0 8px 0 0;
            }

            &:last-child {
                margin: 0 0 0 8px;
            }

            &.active {
                font-weight: $bold;
            }
        }
    }   
};


