@import "../helpers/colors.scss";
@import "../helpers/fonts.scss";

.home {
    overflow:hidden;
}

.image {
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    a {
       @extend %text-animation-grow; 
    }

    .content-wrap {
        position: absolute;
        width: 100vw;
        height: 100vh;

        .content-body {
            width: 25%;
            position: absolute;
            top: 40%;
            text-align: center;
            transform: translateY(-50%);
            
            h2 {
                @extend .main2;
            }
        }

        img {
            position: absolute;
            height: 100vh;
            bottom: 12%;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
        }
    }

    &.bottom {
        background: white;
        z-index:1;

        .content-body {
            right: 5%;
        }
    }

    &.top{
        background: white;
        z-index:2;
        width: 50%;

        .content-body {
            left: 5%;
        }
    }
        
}

.handle {
    position: absolute;
    height: 100%;
    display: block;
    background: white;
    width: 2px;
    top:0;
    left: 50%;
    z-index:3;
    transform-origin: top;
}